button {
    margin: 0 0.5rem 0 0;
}
input[type='text'] {
    background-color: white;
    width: 90%;
}
.muted-button {
    background: white;
}
.editing {
    background-color: #e0ffff !important;
}
.btn-edit{
    background-color: #00802b;
}
.actions{
    width: 250px;
}
button:disabled{
    opacity: 0.3;
  }