
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .title {
      color: white;
  }
  h1{
    margin: 8px 0;
    color: white;
  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
    text-align: center;
  }

  .content {
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
  }